@import "reset.css";

$color: black;

@mixin transition($value1, $value2) {
	-webkit-transition: $value1, $value2;
	-moz-transition: $value1, $value2;
	-o-transition: $value1, $value2;
	-ms-transition: $value1, $value2;
	transition: $value1, $value2;
}

$font: "refrigerator-deluxe";

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.letter {
	display: none;
	a {
		line-height: 30px;
	}
}

#letter-A {
	display: block;
}

#select-letter {
	margin-bottom: 20px;
	padding: 8px;
	padding-left: 15px;
	font-size: 30px;
	font-family: "refrigerator-deluxe";
	border-radius: 5px;
	background-color: gray;
	border: none;
	color: white;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	border: 1px solid gray;
	&:hover {
		background-color: #404040;
    color: #FFDE8B;
    border: 1px solid #FFDE8B;
	}
}

#debug-frame {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 0;
	//border: 5px solid red;
	pointer-events: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 999;
	animation-name: debug;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	opacity: 0;
	-moz-box-shadow: inset 0 0 80px rgba(255, 0, 0, 1);
	-webkit-box-shadow: inset 0 0 80px rgba(255, 0, 0, 1);
	box-shadow: inset 0 0 80px rgba(255, 0, 0, 1);
}

#debug-frame-message {
	font-size: 40px;
	color: red;
	animation-name: debug;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: 40px;
	left: 40px;
	font-weight: 600;
}

@-webkit-keyframes debug {
    0% {opacity: 0;}
    50% {opacity: 1;}
		100% {opacity: 0;}
}

body {
	background-image: url("/assets/pictures/light_gradient.jpg");
	background-position: top center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-color: #cfcfcf !important;
	padding: 0;
	margin: 0;
	font-family: $font;
	height: 90%;
	text-rendering: optimizeLegibility;
	//-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.abouttext {
	position: fixed;
	z-index: 99;
	/* margin-left: auto; */
	/* margin-right: auto; */
	left: calc(50% - 455px);
	top: 19px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
  color: white;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}

#header-navigation a,
#header-navigation a:active,
#header-navigation a:visited {
	color: white;
	text-decoration: none;
	@include transition(color 0.5s ease, top .3s ease);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.featured-film-picture {
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
}

.page-sidebar-divider-title {
	color: #FFDE8B;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -10px;
	font-size: 18px;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	padding: 0px;
	background-color: transparent;
	border-radius: 10px;
	letter-spacing: 1px;
	font-weight: 400;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6em;
}

.featured-film-title {
	position: relative;
	width: 310px;
	height: 148px;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: white;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	vertical-align: bottom;
  display: table-cell;
  line-height: 25px;
  padding-bottom: 16px;	
	p {
		position: absolute;
		bottom: 10px;
		width: calc(100% - 20px);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: color .3s ease;
		-moz-transition: color .3s ease;
		-o-transition: color .3s ease;
		-ms-transition: color .3s ease;
		transition: color .3s ease;
	}
	&:hover {
		background-color: rgba(255, 255, 255, .3);
		color: #FFDE8B;
	}
}

.featured-film-description {
	text-align: center;
	padding: 10px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 300;
	color: darkgray;
}

.search-box-input {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url("/assets/pictures/search-icon-small.png");
	//background-size: 32px;
	background-repeat: no-repeat;
	background-position: 2px;
	width: 100%;
	padding: 9px 12px 8px 40px;
	outline: 0;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	vertical-align: baseline;
	font-family: $font;
	border-radius: 5px;
	border: 5px solid rgba(0, 0, 0, 0.8);
	margin-bottom: 30px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	background-color: rgba(255, 255, 255, 1);
	&:focus{
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-animation-name: blinker_searchitem2;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: blinker_searchitem2;
		-moz-animation-duration: 1.5s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
		-o-animation-name: blinker_searchitem2;
		-o-animation-duration: 1.5s;
		-o-animation-timing-function: linear;
		-o-animation-iteration-count: infinite;
		animation-name: blinker_searchitem2;
		animation-duration: 1.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		background-color: rgba(255, 255, 255, 1);
	}
}

@-moz-keyframes blinker_searchitem2 {
	0% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
	50% {
		-moz-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		-webkit-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
	}
	100% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
}

@-webkit-keyframes blinker_searchitem2 {
	0% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
	50% {
		-moz-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		-webkit-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
	}
	100% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
}

@keyframes blinker_searchitem2 {
	0% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
	50% {
		-moz-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		-webkit-box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
		box-shadow: 0 0px 4px rgba(242, 181, 0, 1), 0 0 40px rgba(242, 181, 0, 1);
	}
	100% {
		-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
		box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	}
}

.search-box-input:hover {
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

#header-navigation a:hover {
	color: #FFDE8B;
}

.footer-navigation-arrow {
	height: 20px;
	vertical-align: middle;
}

.footer-navigation-link,
.footer-navigation-link:active,
.footer-navigation-link:visited {
	color: white;
	text-decoration: none;
}

.footer-navigation-link:hover {
	color: white;
	text-decoration: underline;
}

.post-title-link,
#title-link {
	color: #FFDE8B;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	font-weight: 300;
	font-style: normal;
}

.post-title-link:hover,
#title-link:hover {
	color: white;
	text-decoration: none;
	#menu-icon {
		opacity: 1;
	}
}

.footer-navigation-table {
	width: 100%;
	padding: 0;
	margin: 0;
}

.footer-navigation-previous {
	width: 50%;
	padding: 10px;
	padding-left: 15px;
	margin: 0;
	text-align: left;
}

.footer-navigation-next {
	width: 50%;
	padding: 10px;
	padding-right: 15px;
	margin: 0;
	text-align: right;
}

.footer-navigation-current {
	width: auto;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.new-films-post-left:hover > .new-films-overlay,
.new-films-post-middle:hover > .new-films-overlay,
.new-films-post-right:hover > .new-films-overlay {
	background-color: rgba(255, 255, 255, .3);
	text-decoration: none;
	color: #FFDE8B;
}

.new-films-overlay,
.new-films-overlay:active,
.new-films-overlay:visited {
	color: #FFDE8B;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	padding: 10px;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	display: block;
	text-decoration: none;
}

.new-films-post-left {
	background-color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	height: 100%;
	width: 144px;
	color: #FFDE8B;
	text-align: center;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	padding: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.new-films-post-middle {
	background-color: white;
	float: left;
	height: 100%;
	width: 144px;
	color: #FFDE8B;
	text-align: center;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	padding: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.new-films-post-right {
	background-color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: left;
	height: 100%;
	width: 144px;
	color: #FFDE8B;
	text-align: center;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	padding: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.new-films-container {
	height: 85px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 30px;
	width: 738px;
	position: relative;
	left: calc(50% - 478px);
	top: 83px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.new-films-container:hover {
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

.footer-navigation {
	width: 738px;
	background-color: $color;
	color: white;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 30px;
	width: 738px;
	position: relative;
	left: calc(50% - 540px);
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#header {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 53px;
	background-color: rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	color: white;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#header:hover {
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

#title {
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: 285px;
	z-index: 5;
	font-size: 30px;
	color: #FFDE8B;
	font-family: $font;
	text-transform: uppercase;
	letter-spacing: 5px;
	-webkit-transition: color 0.5s ease, top .3s ease;
	-moz-transition: color 0.5s ease, top .3s ease;
	-o-transition: color 0.5s ease, top .3s ease;
	-ms-transition: color 0.5s ease, top .3s ease;
	transition: color 0.5s ease, top .3s ease;
	font-weight: 300;
	font-style: normal;
}

.header-time-selection {
	position: relative;
	top: 16px;
	background: #fff;
	height: 0;
	overflow: hidden;
	opacity: 1;
	z-index: 5;
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100px;
	padding-top: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 0px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 0px rgba(0, 0, 0, .7);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 0px rgba(0, 0, 0, .7);
	text-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 10px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header-navigation-category {
	vertical-align: top;
	font-size: 18px;
	margin-right: 5px;
	margin-left: 5px;
}

.header-navigation-category:hover > .header-time-selection {
	height: 132px;
	padding-top: 15px;
	background-color: rgba(60, 60, 60, .95);
}

#title:hover > .header-time-selection {
	height: 330px;
	padding-top: 15px;
	background-color: rgba(60, 60, 60, .95);
}

#title:hover > .abouttext {
	opacity: 1;
}

#title:hover ~ #header-navigation {
	opacity: 0;
}

.header-navigation-category li {
	padding-left: 0;
	padding-right: 0;
	line-height: 1.2em;
}

.header-time-selection ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-time-selection li {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	line-height: 1em;
}

#header-navigation {
	text-align: center;
	position: relative;
	right: 172px;
	top: 19px;
	opacity: 1;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}

#header-navigation ul {
	list-style: none;
}

#header-navigation li {
	display: inline-block;
	padding: 0;
	padding-bottom: 15px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	text-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 10px;
}

.page-content-container {
	z-index: 1;
	width: 100%;
	position: relative;
	top: 83px;
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

.post-footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.post-film-share {
	@extend .post-film-credits;
	display: none !important;
}

.post-film-credits {
	color: darkgray;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	text-shadow: none;
	.left {
		display: inline-block;
		width: 338px;
		box-sizing: border-box;
		vertical-align: top;
		margin-right: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    padding: 8px;
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid gray;
	}
	.right {
		display: inline-block;
		width: 338px;
		box-sizing: border-box;
		vertical-align: top;
		margin-left: 8px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7), 0 0 40px rgba(0, 0, 0, .7);
    padding: 8px;
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid gray;
	}
	p {
		padding: 5px;
		white-space: wrap;
		line-height: 20px;
		a {
			margin-left: 5px;
			margin-right: 5px;
			display: inline-block;
			line-height: 20px;
		}
	}
	a {
		color: darkgray;
		text-decoration: none;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		&:hover {
			color: #FFDE8B;
		}
	}
}

.post-film-trivia {
	padding: 20px;
	width: calc(100% - 40px);
	text-align: center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.movie-trivia {
	background-color: transparent;
	padding-left: 20;
	padding-right: 20;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 0px;
	min-height: 0px;
	max-height: 1500px;
	overflow: hidden;
	-webkit-transition: all 0.3s linear !important;
	-moz-transition: all 0.3s linear !important;
	-o-transition: all 0.3s linear !important;
	-ms-transition: all 0.3s linear !important;
	transition: all 0.3s linear !important;
	-moz-box-shadow: inset 0 8px 8px -8px black, inset 0 -8px 8px -8px black;
	-webkit-box-shadow: inset 0 8px 8px -8px black, inset 0 -8px 8px -8px black;
	box-shadow: inset 0 8px 8px -8px black, inset 0 -8px 8px -8px black;
	background-image: url("/assets/pictures/trivialight.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 150%;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	margin-top: 65px;
}

.post-expander {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	font-style: normal;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
	text-align: left;
}

.post-report {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	font-style: normal;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
	text-align: right;
}

td {
	color: white;
}

td[class="trivia_left"] {
	text-align: right;
	vertical-align: top;
	padding: 5px;
	width: auto;
}

td[class="trivia_right"] {
	padding: 5px;
	width: 100%;
}

.post-container {
	background-color: $color;
	color: white;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 30px;
	width: 738px;
	position: relative;
	left: calc(50% - 540px);
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.film-selection {
	display: none;
	position: relative;
	left: calc(50% - 520px);
	color: #FFDE8B;
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	letter-spacing: 1px;
	font-weight: 300;
	width: 680px;
	line-height: 1.6em;
}

.expander-hover {
	margin: 0;
	padding: 0;
}

.featured-film-picture-container {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 174px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
	font-size: 20px;
	text-decoration: none;
}

.footer-navigation:hover,
.post-container:hover,
.search-box-container:hover,
.featured-film-container:hover,
.page-sidebar-link-container:hover,
.filmoftheday-container:hover {
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

.post-container:hover > .post-button-container {
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.page-sidebar-container {
	background: transparent;
	padding: 0;
	width: 310px;
	position: absolute;
	z-index: 2;
	top: 83px;
	right: calc(50% - 540px);
}

.search-box-container {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	width: 100%;
	height: 46px;
	border-radius: 5px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	margin-bottom: 30px;
	text-align: center;
}

.filmoftheday-container {
	background-color: $color;
	color: white;
	width: 100%;
	height: 174px;
	overflow: hidden;
	border-radius: 5px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	margin-bottom: 30px;
}

.featured-film-container {
	background-color: $color;
	color: white;
	width: 100%;
	height: 186px;
	overflow: hidden;
	border-radius: 5px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	margin-bottom: 30px;
}

.video-frame {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-delay: .5s;
}

.video-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	opacity: 0;
	background-image: url("/assets/pictures/playicon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.video-responsive:hover > .video-overlay {
	opacity: 1;
}

.video-responsive:hover > .video-overlay-title {
	opacity: 0;
}

.post-video {
	margin-bottom: 0;
	padding: 0;
	cursor: pointer;
}

.video-responsive {
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.video-responsive iframe {
	padding: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.page-sidebar-link-container {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 5px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
}

.page-sidebar-link-container ul {
	list-style-type: none;
	padding: 0;
	letter-spacing: 0;
	font-size: 0;
}

.page-sidebar-link-container li {
	list-style-type: none;
	padding: 10px;
	letter-spacing: 1px;
	font-size: 16px;
}

.rss-link,
.rss-link:active,
.rss-link:visited {
	color: white;
	text-decoration: none;
}

.post-title {
	color: #FFDE8B;
	margin-bottom: -15px;
  margin-top: 10px;
	font-size: 30px;
	line-height: 1.2em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	padding: 10px;
	background-color: transparent;
	text-align: center;
	display: none;
}

#likesharebuttonslist {
	padding: 30px;
	padding-left: 42px;
	padding-bottom: 26px;
	margin-top: 0;
	margin-bottom: 30px;
	background-color: $color;;
	border-radius: 5px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	text-align: left !important;
}

#likesharebuttonslist:hover {
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

#likesharebuttonslist div {
	padding-bottom: 8px;
}

.button-readmore {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.post-description {
	margin-bottom: 0;
	font-size: 20px;
	line-height: 1.2em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	font-style: normal;
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 0;
	background-color: transparent;
	text-align: center;
	color: darkgray;
}

.post-expander-header {
	color: white;
}

button {
	outline: none;
	color: lightgray;
	background-color: $color;
	//margin: 5px;
	padding-bottom: 2px;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	font-family: $font;
	letter-spacing: 1px;
	font-size: 16px;
	&:hover,
	&:active {
		color: #FFDE8B;
		span {
			position: relative;
		}
	}
	&:focus {
		span {
			position: relative;
		}
	}
	span {
		position: relative;
	}
}

.post-readmore-container {
	position: absolute;
	z-index: 4;
	opacity: 1;
	width: 100%;
	text-align: center;
	padding: 0;
	height: 0;
	padding-top: 20px;
	padding-bottom: 0;
}

.post-button-container {
	position: absolute;
	z-index: 3;
	opacity: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	height: 0;
	padding-top: 20px;
	padding-bottom: 0;
}

.trivia {
	margin-top: 20px;
}

.post-publication-date td {
	color: darkgray;
}

.post-publication-date {
	color: darkgray;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar-footer-copyright-container {
	margin-bottom: 30px;
	width: 244px;
	display: table-cell;
	text-align: center !important;
	color: rgba(255, 255, 255, 1);
	height: auto;
}

#sidebar-footer-copyright-container div {
	display: inline-block;
}

#sidebar-footer-copyright-container a,
#sidebar-footer-copyright-container a:active,
#sidebar-footer-copyright-container a:visited {
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 1);
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	-ms-transition: color .5s ease;
	transition: color .5s ease;
	text-decoration: none;
}

#sidebar-footer-copyright-container a:hover {
	color: #FFDE8B;
	text-decoration: none;
}

#sidebar-footer-copyright-container p {
	display: block;
	width: 310px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	background-color: $color;;
	border-radius: 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	font-style: normal;
	margin: 0 0 1.6em;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, .5), 0 0 40px rgba(0, 0, 0, .8);
	color: darkgray;
}

#sidebar-footer-copyright-container p {
	font-size: 14px;
	letter-spacing: 2px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#sidebar-footer-copyright-container p:hover {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
	box-shadow: 0 0px 4px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .5);
}

.header-link-active{
	color: #FFDE8B !important;
}

.search-result-container{
	position: static;
  margin-left: auto;
  margin-right: auto;
	width: 1080px;
	padding: 0;
}

.search-result-item{
	@extend .post-container;
  position: static;
  margin: 0;
	margin-bottom: 0;
  width: 100%;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	display: none;
	overflow: hidden;
	margin-bottom: 30px;
}

.search-result-number {
	@extend .search-result-item;
	display: block;
	padding: 10px;
  text-align: center;
}

.name-result-title {
	@extend .search-result-number;
	width: 738px;
	position: relative;
  left: calc(50% - 540px);
}

.search-page-input {
	@extend .search-result-number;
}

.search-result-title{
	color: white;
	font-size: 20px;
	//margin-bottom: 10px;
	padding: 25px;
	padding-bottom: 0;
	font-weight: 300;
}

.search-result-description{
	font-size: 20px;
	padding: 25px;
	padding-top: 20px;
	padding-left: 0;
	padding-bottom: 0;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	max-height: 50px;
	font-weight: 300;
	color: darkgray;
}

.expand-search-results{
	margin-left: auto;
	margin-right: auto;
	position: static;
	display: block;
}

.search-result-image {
	width: 210px;
	height: 120px;
	padding: 0;
	margin-right: 20px;
	float: left;
	border-right: 1px solid gray;
}

#menu-icon {
	//height: 25px;
	position: relative;
	top: 1px;
	opacity: .3;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#title-submenu {
	width: 200px;
	color: white;
	top: 11px;
	li {
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		&:hover {
			color: #FFDE8B;
			cursor: pointer;
		}
	}
	a {
		color: white;
		text-decoration: none;
		-webkit-transition: color .3s ease;
		-moz-transition: color .3s ease;
		-o-transition: color .3s ease;
		-ms-transition: color .3s ease;
		transition: color .3s ease;
		&:hover {
			color: #FFDE8B;
		}
	}
}

hr {
    -webkit-margin-start: 20px;
    -webkit-margin-end: 20px;
		-webkit-margin-before: 20px;
    -webkit-margin-after: 10px;
		//border: 1px solid #626262;
		border: 1px solid transparent;
    //box-shadow: 0 0 5px #1C1C1C;
}

.post-footer-links {
	margin: 0;
	padding: 0;
	border-top: 1px solid #555555;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 9px;
}

.subpage-container {
	@extend .search-result-container;
	//border: 1px solid red;
}

.subpage {
	@extend .search-result-item;
	display: block;
	padding: 20px;
	padding-bottom: 40px;
	//padding-top: 0;
  text-align: center;
	font-size: 20px;
	font-weight: 300;
	h1 {
		color: #FFDE8B;
		font-size: 30px;
		font-weight: 300;
		font-style: normal;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h3 {
		color: #FFDE8B;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	a {
		color: white;
		text-decoration: none;
		cursor: pointer;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		&:visited {
			color: white;
		}
		&:hover {
			color: #FFDE8B;
		}
	}
}

.contact-input {
	font-family: $font;
	margin: 10px;
	width: 260px;
	padding: 10px;
	border-radius: 5px;
	border: 0;
	font-size: 16px;
	background-color: #505050;
	box-shadow: inset 0 0 15px #202020;
  border: 1px solid gray;
  color: white;
	&:focus {
		outline-color: #FFDE8B;
	}
}

.contact-subject {
	font-family: $font;
	margin: 10px;
	width: 860px;
	padding: 10px;
	border-radius: 5px;
	border: 0;
	font-size: 16px;
	background-color: #505050;
	box-shadow: inset 0 0 15px #202020;
  border: 1px solid gray;
  color: white;
	&:focus {
		outline-color: #FFDE8B;
	}
}

.contact-message {
	font-family: $font;
	margin: 10px;
	width: 860px;
	height: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 0;
	font-size: 16px;
	background-color: #505050;
	box-shadow: inset 0 0 15px #202020;
  border: 1px solid gray;
  color: white;
	resize: none;
	&::-webkit-input-placeholder {
		//color: orange;
	}
	&:-moz-placeholder {
		//color: orange;
	}
	&::-moz-placeholder {
		//color: orange;
	}
	&:-ms-input-placeholder {
		//color: orange;
	}
	&::-ms-input-placeholder {
		//color: orange;
	}
	&:placeholder-shown {
		//color: orange;
	}
	&:focus {
		outline-color: #FFDE8B;
	}
}

.contact-submit {
	font-family: $font;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #5A5A5A;
  color: white;
  border: 1px solid gray;
	&:hover {
		background-color: #404040;
    color: #FFDE8B;
		border: 1px solid #FFDE8B;
		cursor: pointer;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
	}
	span {
		position: relative;
	}
	&:focus span {
		position: relative;
	}
	&:active span {
		position: relative;
	}
}

.credited-names-number {
	color: gray;
}

#search-options-container {
	background-color: white;
	position: absolute;
	z-index: 99;
	top: 60px;
	left: 20px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	color: white;
	opacity: 0;
	pointer-events: none;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

#advertisement-main {
	position: relative;
	left: calc(50% - 540px);
	border: 5px solid black;
	width: 728px;
	height: 90px;
	border-radius: 5px;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	background-color: $color;;
	&:hover {
		-moz-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

#advertisement-top {
	position: relative;
	left: calc(50% - 540px);
	top: 83px;
	border: 5px solid black;
	width: 970px;
	height: 90px;
	border-radius: 5px;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	background-color: $color;;
	&:hover {
		-moz-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

#advertisement-sidebar {
	border: 5px solid black;
	width: 300px;
	height: 600px;
	border-radius: 5px;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	background-color: $color;;
	&:hover {
		-moz-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 4px white, 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

.video-overlay-title {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 0 1px 4px #000, 0 0 10px #000;
	//color: #FFDE8B;
	color: white;
	bottom: 25px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	line-height: 35px;
}

.fb_iframe_widget {
	top: -3px;
  left: -3px;
}

#footer-share {
	border: 5px solid black;
	width: 300px;
	//height: 600px;
	border-radius: 5px;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5), 0 0 40px rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	background-color: black;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 12px;
}